.catagoryClass,
.nameClass {
  width: 12%;
  min-width: 12%;
}

.locationClass {
  width: 6%;
  min-width: 6%;
  text-align: center;
}

.priceClass,
.purchaseDateClass {
  width: 10%;
  min-width: 10%;
}

body {
  background-color: lightgray;
}

.purchaseDateTitle {
  margin: 1rem 0 0 0;
  text-align: start;
  font-weight: bold;
}

.purchaseDate {
  margin: 0 0 1rem 0;
  text-align: start;
}
